<div
  class='container'
  (click)='startDockTimer()'
  (mouseenter)='startDockTimer()'
  (pointermove)='startDockTimer()'
  (mouseleave)='hideDock()'
>

  <app-nav-bar></app-nav-bar>

  <janus-videoroom
    [wsUrl]='wsUrl'
    [httpUrl]='httpUrl'
    [roomId]='roomId'
    [isMuted]='isMuted'
    [devices]='devices'
    [pin]='pin'
    (janusError)='onError($event)'
  ></janus-videoroom>

  <app-dock
    [@openClose]="dockOpen ? 'open' : 'closed'"
    [isMuted]='isMuted'
    (toggleMute)='toggleMute()'
    (openDevices)='onOpenDevices()'
    (openServer)='onOpenServer()'
  >
  </app-dock>
</div>
