<div
  class='container'
  (click)='startDockTimer()'
  (mouseenter)='startDockTimer()'
  (pointermove)='startDockTimer()'
  (mouseleave)='hideDock()'
>

  <app-nav-bar></app-nav-bar>

  <janus-videoroom
    [wsUrl]='wsUrl'
    [httpUrl]='httpUrl'
    [roomId]='roomId'
    [component]='component'
    [pin]='pin'
    (janusError)='onError($event)'
  >
  </janus-videoroom>

  <app-custom-video-room-dock
    [@openClose]="dockOpen ? 'open' : 'closed'"
    (openComponents)='onOpenComponents()'
    (openServer)='onOpenServer()'
  >
  </app-custom-video-room-dock>
</div>

